@{
    //AdminLayoutSidebarComponentPartial
}
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/snacked/ltr/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Admin Paneli</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class="bi bi-list"></i>
        </div>
    </div>
    <ul class="metismenu" id="menu">
        <li><a href="/"><div class="parent-icon"><i class="bi bi-globe"></i></div><div class="menu-title">Siteye Git</div></a></li>
        <li><a href="/Admin/Dashboard/"><div class="parent-icon"><i class="bi bi-speedometer2"></i></div><div class="menu-title">Dashboard</div></a></li>
        <li><a href="/Chat/Index/"><div class="parent-icon"><i class="bi bi-lightbulb"></i></div><div class="menu-title">Canlı AI Chat</div></a></li>
        <li><a href="/Category/CategoryList/"><div class="parent-icon"><i class="bi bi-tags-fill"></i></div><div class="menu-title">Kategoriler</div></a></li>
        <li><a href="/About/AboutList/"><div class="parent-icon"><i class="bi bi-info-circle-fill"></i></div><div class="menu-title">Hakkımızda</div></a></li>
        <li><a href="/AboutItem/AboutItemList/"><div class="parent-icon"><i class="bi bi-list-ul"></i></div><div class="menu-title">Hakkımızda Öğeleri</div></a></li>
        <li><a href="/Article/ArticleList/"><div class="parent-icon"><i class="bi bi-newspaper"></i></div><div class="menu-title">Makaleler</div></a></li>
        <li><a href="/Contact/ContactList/"><div class="parent-icon"><i class="bi bi-telephone-fill"></i></div><div class="menu-title">İletişim</div></a></li>
        <li><a href="/Message/MessageList/"><div class="parent-icon"><i class="bi bi-envelope-fill"></i></div><div class="menu-title">Mesajlar</div></a></li>
        <li><a href="/PricingPlan/PricingPlanList/"><div class="parent-icon"><i class="bi bi-currency-dollar"></i></div><div class="menu-title">Fiyatlandırma</div></a></li>
        <li><a href="/Service/ServiceList/"><div class="parent-icon"><i class="bi bi-gear-fill"></i></div><div class="menu-title">Hizmetler</div></a></li>
        <li><a href="/Slider/SliderList/"><div class="parent-icon"><i class="bi bi-images"></i></div><div class="menu-title">Slider</div></a></li>
        <li><a href="/Testimonial/TestimonialList/"><div class="parent-icon"><i class="bi bi-chat-quote-fill"></i></div><div class="menu-title">Yorumlar</div></a></li>
        <li><a href="/TrailerVideo/TrailerVideoList/"><div class="parent-icon"><i class="bi bi-play-circle-fill"></i></div><div class="menu-title">Tanıtım Videosu</div></a></li>
        <li><a href="/Admin/Settings/"><div class="parent-icon"><i class="bi bi-sliders"></i></div><div class="menu-title">Ayarlar</div></a></li>
        <li><a href="/Auth/Logout/"><div class="parent-icon"><i class="bi bi-box-arrow-right"></i></div><div class="menu-title">Çıkış Yap</div></a></li>
    </ul>
</aside>